[submodule "vendor/clojure-cheatsheet"]
	path = vendor/clojure-cheatsheet
	url = git@github.com:mavbozo/clojure-cheatsheet.git
[submodule "vendor/smartparens"]
	path = vendor/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "vendor/zenburn-emacs"]
	path = vendor/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "vendor/datomic-snippets"]
	path = vendor/datomic-snippets
	url = git@github.com:magnars/datomic-snippets.git
[submodule "vendor/tabbar"]
	path = vendor/tabbar
	url = git@github.com:dholm/tabbar.git
